html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #5680E9, #5AB9EA, #C1C8E4, #8860D0);
  background-attachment: fixed; 
  background-size: cover; 
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
    max-width: 900px;
    width: 100%; 
    margin: 30px auto; 
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  #signup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0px auto; 
    padding: 17%;
    padding-left: 25%;
    padding-right: 25%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    border-radius: 15px;

  }
  
  input {
    padding:10px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ced4da;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  input:focus {
    border-color:  #8860D0;
    outline: none;
  }
  
  button {
    background: linear-gradient(135deg, #8860D0, #5AB9EA);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  button:hover {
    background: linear-gradient(135deg, #5680E9,#8860D0);
    transform: translateY(-2px);
  }
  
  button:disabled {
    background: #e0e0e0;
    color: #999;
    box-shadow: none;
    cursor: not-allowed;
  }
  /* Style for the Popup Content */

  .popupbutton {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 10pt;
  }
  .popup-content {
    border-radius: 15px;             /* Rounded corners for the popup box */
    text-align: center;              /* Center text */
  }
  
  .popup-overlay { 
    margin-top: 0;
  }
  a {
    text-align: center;
    display: block;
    font-size: 1rem;
    color:  #ffffff;
    text-decoration: none;
    margin-top: 15px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    text-align: center;
    font-size: 1.1rem;
    color: #dc3545;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 15px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    button {
      font-size: 0.9rem;
    }
  
    input {
      font-size: 0.9rem;
    }
  }
  